body {
    font-family: 'Verdana', sans-serif;
    margin: 50px 25px;
}

/* a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
} */

header, footer, div.page {
    width: 80%;
    margin: 0 auto;
    /* background: #daeef3; */
    padding: 20px 50px;
}

header h1 {
    /* color: #169bbd; */
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    /* background: #6d797c9f; */
}

.team_status{
    position: relative;
    height: 80px;
}
.description{
    position: absolute;
    bottom: 0px;
    vertical-align:bottom;
}

.teamInfo-description{
    color: blueviolet;
    font-size: 2em;
    line-height: 1;

}
